@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    text-size-adjust: 100%;
    font-feature-settings: normal;
   font-family: 'Roboto', sans-serif;
    font-variation-settings: normal;
    line-height: 1.5;
    tab-size: 4;
}

p{
    font-size: medium;
}

::selection {
  p,h1,h2,h3,h4,h5,h6{text-decoration-color:red;}
}